<app-header class="headerSection"></app-header>
<div class="head">
    <div class="headContent">
        <div class="headText">
            <div class="rotationLine">
                <h1 class="rotatet">{{'landingPage.me' | translate}}</h1>
            </div>
            <div class="headLine">
                <h1 class="name">Alexander Luft</h1>
                <h2 class="job">{{'landingPage.job' | translate}}</h2>
            </div>
        </div>
        <a (click)="navigateAndScroll('contact',100)"><button>{{'landingPage.buttonTalk' | translate}}</button></a>
    </div>
</div>
<div class="headNavigation">
    <div class="links">
        <div class="line">
            <div class="coloredLineLeft"></div>
        </div>
        <app-links></app-links>
    </div>
    <div id="scrollDown" class="scrollDownSection">
        <a class="scrollDown" id="scrollDown" (click)="navigateAndScroll('portfolio',200)">
            {{'landingPage.scrollDown' | translate}}
            <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M13 16.172L17.657 11.515C18.0475 11.1245 18.6805 11.1245 19.071 11.515C19.4615 11.9055 19.4614 12.5385 19.071 12.929L12.7071 19.2929C12.3166 19.6834 11.6834 19.6834 11.2929 19.2929L4.92898 12.929C4.53852 12.5385 4.53852 11.9055 4.92898 11.515C5.31945 11.1245 5.95252 11.1245 6.34299 11.515L11 16.172V5C11 4.44772 11.4477 4 12 4C12.5523 4 13 4.44772 13 5V16.172Z" />
            </svg>
        </a>
    </div>
</div>