.headerSection{
    position: relative;
    height: 120px;
    width: 100%;
}
.headContent{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    gap: 20px;
    .rotationLine{
        display: flex;
        flex-wrap: nowrap;
        rotate: -90deg;
        align-items: flex-end;
        justify-content: center;
    }
    h1{ 
        color: aliceblue;
        text-wrap: nowrap;
        font-family: Poppins;
        font-size: 64px;
        font-weight: 400;
        text-align: left;
        width: 60px;
    }
    a{
        text-decoration: none;
    }
    .headLine{
        flex-direction: column;
        h1{ 
            margin: 0;
        }
        h2{
            margin: 0;
            width: 100%;
            text-wrap: nowrap;
            color: red;
        }    
    }
    .rotatet{
        margin: 0px 0px 80px -98px;
    }
    .name{
        font-family: Poppins;
        font-size: 90px;
        font-weight: 700;
        line-height: 108px;
        text-align: left;
        
    }
    .job{
        font-family: Poppins;
        font-size: 58px;
        font-weight: 400;
        line-height: 69.6px;
        text-align: left;           
    }
}
.head{
    padding: 0 100px;
    z-index: 1;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
    .headText{
        display: flex;
    }
}
.headNavigation{
    position: relative;
    z-index: 2;
    width: 100%;
    max-width: 1980px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    .links{
        height: fit-content;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 42px;
        >div{
            display: flex;
            gap: 42px;
            svg{
                border-radius: 20px;
                cursor: pointer;
                fill: #ffffff;
            }
            svg:hover{
                fill: #ff0000;
                box-shadow: 0px 0px 12px 1px rgb(255 255 255),
                0px 0px 20px 20px rgb(255 255 255) inset;
                transition: ease-in-out 125ms;
            }
        }    
    }
    .scrollDownSection{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        height: 20vh;
        width: 200px;
        transform: translateY(-24px);
        .scrollDown{
            display: flex;
            justify-content: center;
            align-items: center;
            text-wrap: nowrap;
            rotate: 90deg;
            text-decoration: none;
            color: #ffffff;
            gap: 4px;
            font-family: Poppins;
            font-size: 23px;
            font-weight: 400;
            line-height: 27.6px;
            text-align: left;
            padding: 0 0 0 50px;
            svg{
                rotate: -90deg;
                fill: #ffffff;
            }
        }  
        .scrollDown:hover{
            color: #ff0000;
            text-shadow: #000000 0px 0px 20px;
            svg{
                fill: #ff0000;
            }
        }      
    }
}