.aboutMain{
    position: relative;
    z-index: 1;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    border-bottom: red solid;
    border-bottom-right-radius: 85% 25%;
    box-shadow: -10px 14px 12px 1px rgb(255, 255, 255), 0px 200px 0px 200px rgba(32, 0, 0, 0.7882352941);
    margin-bottom: 100px;
    overflow: hidden;
    p{
        text-shadow: #000000 0px 0px 20px;
    }
    .headImg{
        min-width: 350px;
        min-height: 350px;
        display: flex;
        width: 50%;
        align-items: flex-end;
        justify-content: flex-end;
        img{    
            max-width: 480px;
            width: 100%;
            height: 100%;
            max-height: 690px;
            min-height: 320px;
            transform: translate(0px, 80px);
        }
    }
}

.radialLine{    display: flex;
    position: relative;
    width: 100%;
    z-index: 1;
    width: 100%;
    max-width: 1980px;
    align-items: flex-end;
    padding: 80px 25px 0;
    justify-content: space-around;
}

.headText{
    display: flex;
    justify-content: center;
    color: aliceblue;
    flex-direction: column;
    width: 470px;
    h2{
        width: 100%;
        font-size: 72px;
        margin: 0;
        font-family: Poppins;
        font-size: 90px;
        font-weight: 700;
        line-height: 108px;
        text-align: left;
    }
    p{
        font-family: Poppins;
        font-size: 16px;
        font-weight: 400;
        line-height: 19.2px;
        text-align: left;
    }
    .secondaryText{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 12px;        
        svg {
            width: 100%;
        }
        svg:hover{
            path{
                fill: red;
                stroke: red;
                stroke-width: 2px;
            }
            path:nth-child(1){
                fill: none;
            }
        }
    }
}