.mainContent{
    margin: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    overflow-x: hidden;
}

.landingSection{
    width: 100%;
    height: 100vh;
    padding: 0 100px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    gap: 5vh;
    align-items: center;
}

h1{
    color: aliceblue;
    z-index: 100;
}

.aboutSection{
    width: 100%;
    overflow: hidden;
    margin: 20vh 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
    
.skillsSection{
    width: 100%;
}

.portfolioSection{
    width: 100%;
}
.contactSection{
    width: 100%;
}