<div class="mainImprint">
    <app-header class="headerSection"></app-header>
        <div class="links">
            <div class="legal">
                <h1 class="text-wrapper">{{"imprint.wrapper" | translate}}</h1>
                <br /><br />
                <h2>{{"imprint.headline" | translate}}</h2>
                <br />
                <h2>{{"imprint.contact" | translate}}</h2>
                <p>
                    Luft Alexander<br />
                    Arnold-Schönbergstr.14<br />
                    66955 Pirmasens
                </p>
                <br>
                <p>{{"imprint.phone" | translate}}</p><a href="tel:+49017670814014">0176 70 81 40 14</a>
                <br>
                <p>{{"imprint.email" | translate}}</p><a href="mailto:luft.luft86@googlemail.com">info&#64;luft-alexander.de</a>
                <br />
            </div>
        </div>
</div>